.navBar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 2%;
    gap: 30%;
    background-color: black;
    align-items: center;
    -webkit-box-shadow: 4px 10px 5px 0 var(--primary);
    -moz-box-shadow: 4px 10px 5px 0px var(--primary);
    box-shadow: 4px 10px 5px 0px var(--primary); 
    width: auto;
    height: 110px
}


.navLeft img{
    margin-left: 40%;
    object-fit: cover;
    height: 115px;
}

.navRight {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* styling copy from https://ui-buttons.web.app/double-diagonal */

.navRight a,
.navRight a *,
.navRight a :after,
.navRight a :before,
.navRight a:after,
.navRight a:before {
  border: 0 solid;
  box-sizing: border-box;
}

.navRight a {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: var(--light);
    background-image: none;
    cursor: pointer;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

.navRight a:hover {
    position: relative;
    color: white;
    z-index: 2;
}

.navRight a:disabled {
 cursor: default;
}

.navRight a:-moz-focusring {
  outline: auto;
}

.navRight a [hidden] {
  display: none;
}

.navRight a:after,
.navRight a:before {
  --tilt: 1.2rem;
  background: var(--primary);
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 100%,
    0 100%
  );
  clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
  z-index: -1;
}

.navRight a:after {
  left: 100%;
  transform: translateX(var(--progress, 0)) rotate(180deg);
  z-index: -1;
}

.navRight a:hover:before {
  --progress: 100%;
}

.navRight a:hover:after {
  --progress: -100%;
}
